
body {
    background-color: rgb(232, 234, 237);
    font-size: 16px;
    font-weight: 400;
    font-family: Roboto;
    color: rgb(32, 33, 36);
    margin: 0;
}

h1, h2, h3 {
    font-family: "Google Sans";
    font-weight: 400;
    margin: 0 52px 5px 0;
    padding: 40px 0 0 40px;
}

p {
    margin: 16px 40px 16px 40px;
    line-height: 24px;
}

.main {
    background-color: white;
    max-width: 936px;
    margin: auto;
    margin-top: 24px;
    margin-bottom: 24px;
    border-radius: 2px;
    padding-bottom: 50px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.comment {
    background-color: rgb(225, 245, 254);
    color: rgb(1, 87, 155);
    margin: 0;
    margin-top: 20px;
    padding: 20px 0 20px 40px;
    box-sizing: border-box;
    width: 100%;
}

strong.comment {
    font-weight: 700;
} 

code.block {
    display: block;
    background-color: rgb(241, 243, 244);
    color: rgb(55, 71, 79);
    font-family: "Roboto Mono", monospace;
    margin: 0 40px 0 40px;
    padding: 20px 10px 20px 40px;
    line-height: 0.7;
    font-size: 14px;
    overflow: auto;
    white-space: nowrap;
}

code.block ul, code.block ol {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

code.block li {
    padding-left: 1em;
    text-indent: -1em;
    margin-bottom: 15px;
    margin-left: 0px;
    font-size: 14px;
}

code.block li:before {
    content: "$";
    color: rgb(189, 193, 198);
    padding-right: 8px;
}

code.block ol li:before{
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    content: none;
}

.variable {
    color: rgb(208, 24, 132);
    font-style: italic;
}

.list li, ul li {
    margin: 5px;
    margin-left: 20px;
    font-size: 16px;
    line-height: 24px;
    font-style: normal;
}

h3 {
    margin: 32px -40px 16px 40px;
    padding: 0px;
    padding-right: 40px;
}

code.inline {
    background-color: rgb(241, 243, 244);
    font-family: "Roboto Mono", monospace;
    font-size: 14.4px;
    color: rgb(55, 71, 79);
    margin: 5px;
    margin-right: 0;
    padding: 1px 4px;
}