
body {
    background-color: rgb(232, 234, 237);
    font-size: 16px;
    font-weight: 400;
    font-family: Roboto;
    color: rgb(32, 33, 36);
    margin: 0;
}

main {
    background-color: white;
    max-width: 936px;
    margin: auto;
    margin-top: 24px;
    margin-bottom: 24px;
    border-radius: 2px;
    padding-bottom: 50px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Google Sans";
    font-weight: 400;
    margin: 0 52px 5px 0;
    padding: 40px 0 0 40px;
}

h3, h4, h5 {
    margin: 32px 0px 16px 40px;
    padding: 0px;
}

h4, h5 {
    font-weight: 600;
}

p {
    margin: 16px 40px 16px 40px;
    line-height: 1.5;
}

.comment {
    background-color: rgb(225, 245, 254);
    color: rgb(1, 87, 155);
    margin: 0;
    margin-top: 20px;
    padding: 20px 0 20px 40px;
    box-sizing: border-box;
    width: 100%;
}

.comment strong {
    font-weight: 700;
} 

code {
    background-color: rgb(241, 243, 244);
    color: rgb(55, 71, 79);
    font-family: "Roboto Mono", monospace;
    font-size: 14.4px;
}

code.block {
    display: block;
    margin: 0 40px 0 40px;
    padding: 20px 10px 20px 40px;
    line-height: 1.5;
    overflow: auto;
    white-space: pre;
}

code.inline {
    margin: 5px;
    margin-right: 0;
    padding: 1px 4px;
}

.variable {
    color: rgb(208, 24, 132);
    font-weight: 700;
    font-style: normal;
}

li {
    margin: 5px;
    margin-left: 20px;
    font-size: 16px;
    line-height: 24px;
    font-style: normal;
}

a {
    color: rgb(26, 115, 232);
    text-decoration-line: none;
}